[submodule "Packages/rt.xr.maf"]
	path = Packages/rt.xr.maf
	url = https://github.com/5G-MAG/rt-xr-maf-plugin.git
[submodule "Packages/com.atteneder.gltfast"]
	path = Packages/com.atteneder.gltfast
	url = https://github.com/5G-MAG/rt-xr-gITFast.git
	branch = dev/iso-23090-14
[submodule "Packages/com.google.ar.core.arfoundation.extensions"]
	path = Packages/com.google.ar.core.arfoundation.extensions
	url = https://github.com/google-ar/arcore-unity-extensions.git
	branch = v1.41.0